.list__content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 1000px){
  .list__content{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px){
  .list__content{
      grid-template-columns: repeat(1, 1fr);
  }
}

.list__wrapper{
  display: flex;
  justify-content: space-between;
}

.list__content{
  flex: 1;
}

.sidebar{
  flex: 0 0 13%;
  margin-right: 15px;
}

@media screen and (max-width: 1000px){
  .sidebar{display: none;}
}

.search{
  padding: 4rem 0;
}