@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
:root{
  --color-blue:  #3B4259;
  --color-pink:#D93D86;
  --color-green:#A1D979;
  --color-black:#000;
  --color-white:#fff;

  
  --font:'Montserrat', sans-serif;

  --z-index-menu:1000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: var(--font);
}

main{
  padding: 10rem 0;
  min-height: 100vh;
}

.center{
  max-width: 1180px;
  width: 94%;
  margin: 0 auto;
}

.header{
  background-color: var(--color-blue);
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  z-index: var(--z-index-menu);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  text-align: center;
}

.header__logo{
  width: 150px;
}

.footer{
  padding: 2rem 0;
  background-color:var(--color-blue);
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:600px){
  .footer__content{
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__logo{
  width: 150px;
}

.footer__texto{
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (max-width:600px){
  .footer__texto{
    flex: 0 0 100%;
    margin-top: 1.5rem;
    text-align: center;
  }
}
